/* shared formatting across pages goes with default file */
.default-page {
  background-image: url("images/download.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* formatting for home page */

/* formatting for general posts page */

/* formatting for individual post pages */
